@media (max-width: 1280px){
    .container {
        max-width: 1140px;
    }
    #hero {
        max-width: 1200px;
    }
    h1.hero-title {
        margin-top: 40px;
        font-size: 72px;
    }
    .work-image-info-title {
        font-size: 35px;
    }
}
@media (max-width: 1199.98px){
    .container {
        max-width: 960px;
    }
    #hero {
        max-width: 95%;
        min-height: 650px;
    }
    #explore {
        margin-top: 40px;
    }
    #work {
        margin-top: 32px;
    }
    #what {
        margin-top: 32px;
    }
    #cta {
        margin-top: 33px;
    }
    #footer {
        margin-top: 56px;
    }
    .hero-desc {
        font-size: 16px;
    }
    .explore-tabs-content {
        padding-top: 60px;
    }
    .work-image-info {
        padding: 14px 32px;
    }
    .work-image-info-title {
        font-size: 30px;
    }
    .work-list {
        padding-bottom: 24px;
        margin-top: 8px;
    }
    .work-list:first-child {
        margin-top: 48px;
    }
    .work-list-icon {
        width: 48px;
        height: 48px;
    }
    .work-list-icon > span {
        width: 24px;
        height: 24px;
    }
}
@media (max-width: 991.98px) {
    .container {
        max-width: 720px;
    }
    #hero {
        background-size: cover;
        background-position-x: -130px;
        background-position-y: bottom;
    }
	.nav-menu-content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #FFFFFF;
        padding: 24px;
        z-index: 10;
        text-align: center;
        transition: all .5s !important;
        margin-top: -1000px;
    }
    .nav-menu-content.show {
        margin-top: 0;
        overflow-y: auto;
        max-height: 100vh;
    }
    .nav-menu-content > ul > li {
        display: block;
        margin-bottom: 32px;
    }
    .nav-menu-content > ul > li.nav-menu-content-dropdown:hover img {
        transform: rotate(0deg);
    }
    .nav-menu-content > ul > li.nav-menu-content-dropdown.show img {
        transform: rotate(-180deg);
    }
    .nav-menu-content > ul > li > ul {
        position: relative;
        top: 0;
        left: 0;
        min-height: 0;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 1;
        transition: all .3s;
        box-shadow: none;
    }
    .nav-menu-content > ul > li > ul.show {
        min-height: 0;
        max-height: 1000px;
        margin-top: 12px;
    }
    .explore-tabs-content {
        padding-top: 30px;
    }
    .card-jobs {
        padding: 15px 16px 21px;
        margin-bottom: 20px;
    }
    .work-image-info {
        padding: 14px 80px;
    }
    .work-list {
        margin-bottom: 24px;
    }
    .work-list-icon {
        width: 60px;
        height: 60px;
    }
    .work-list::after {
        width: 100%;
    }
    .cta-box {
        padding: 15px 65px 32px;
    }
    .cta-box-subtitle {
        margin-top: 16px;
        margin-bottom: 32px;
    }
    .cta-line {
        width: 100%;
        height: 1px;
        position: relative;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        margin-bottom: 32px;
    }
    .footer-menu li {
        display: block;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width: 767.98px) {
    body {
        font-size: 14px;
        line-height: 21px;
    }
	.container {
        max-width: 100%;
        padding: 0 24px;
    }
    #hero {
        background-image: url('../assets/img/hero-bg-mobile.svg');
        margin-top: 10px;
        background-position-x: center;
        border-radius: 8px;
        padding: 14px;
    }
    #work {
        margin-top: 80px;
    }
    #what {
        margin-top: 40px;
    }
    .nav-menu {
        margin: 9px 0;
    }
    .nav-menu-logo {
        width: 120px;
    }
    h1.hero-title {
        font-size: 32px;
    }
    .hero-desc {
        margin-top: 20px;
        padding-right: 0;
        font-size: 14px;
    }
    .work-list-title {
        font-size: 18px;
    }
    .work-desc, .work-list-body {
        font-size: 14px;
        line-height: 21px;
    }
    .btn-1 {
        padding: 16px 40px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 21px;
    }
    .btn-2 {
        padding: 16px 30px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 21px;
    }
    .btn-3 {
        padding: 10px 25px;
        border-radius: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    .section-title {
        font-size: 24px;
        line-height: 105%;
    }
    .work-featured {
        margin-top: -50px;
    }
    .work-image-info {
        padding: 14px 21px;
    }
    .work-image-info-title {
        font-size: 24px;
        line-height: 29px;
    }
    .work-image-info-body {
        font-size: 8px;
    }
    .cta-box {
        padding: 40px 32px;
    }
    .cta-box .section-title {
        font-size: 32px;
        line-height: 105%;
        margin-top: 0;
    }
    .cta-box-subtitle {
        font-size: 12px;
        line-height: 150%;
    }
    .footer-subtitle {
        font-size: 16px;
    }
    .footer-menu {
        margin: 30px 0;
    }
    .footer-menu a {
        font-size: 14px;
        line-height: 21px;
    }
    .footer-form-icon {
        padding: 10.5px 14px;
    }
    .footer-copy {
        font-size: 12px;
        line-height: 18px;
    }
    .explore-tabs {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 4;
        background: #FFFFFF;
        box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
        padding: 16px;
        border-radius: 8px;
        overflow: hidden;
        transition: all .5s !important;
        min-height: 50px;
        max-height: 50px;
    }
    .explore-tabs.dropnav {
        min-height: 50px;
        max-height: 500px;
    }
    .explore-tabs .nav-item {
        display: block;
        text-align: center;
    }
    .explore-tabs .nav-link {
        display: inline-block;
    }
    .explore-tabs .nav-item:nth-child(1) {
        margin-top: 40px;
    }
    .explore-tabs.nav-tabs .nav-item.show .nav-link, 
    .explore-tabs.nav-tabs .nav-link.active {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) !important;
        margin: 0;
    }
    .explore-tabs.nav-tabs .nav-item.show .nav-link::before, 
    .explore-tabs.nav-tabs .nav-link.active::before {
        content: url('../assets/img/icons/arrow-bottom-orange.svg');
        position: absolute;
        top: 0;
        right: -20px;
        width: 14px;
    }
    #jobs {
        margin-top: 11px;
    }
    .jobs-header {
        padding: 70px 24px;
    }
    .list-card-content {
        margin-top: 20px;
    }
    .list-card-title {
        margin-bottom: 12px;
    }
    .list-card-title div {
        font-size: 14px;
    }
    .list-card-title span {
        font-size: 10px;
    }
    .list-card-price {
        margin-top: -10px;
    }
    .list-time {
        font-size: 8px;
    }
    .list-time > div > div > img {
        width: 10px;
        margin-right: 2px;
    }
    .list-price div {
        font-size: 16px;
    }
    .list-apply {
        font-size: 12px;
        padding: 2px 9px;
    }
    .list-select {
        font-size: 12px;
    }
    .list-pagination {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .list-pagination ul li a {
        font-size: 12px;
    }
    .desc-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .desc-body {
        font-size: 12px;
    }
    .dedicated-box {
        padding: 20px 14px;
        margin-top: 20px;
    }
    .dedicated-box-title {
        font-size: 24px;
    }
    .dedicated-box-title > span {
        font-size: 10px;
    }
    .dedicated-box-body {
        padding: 20px 17px;
    }
    .dedicated-box-body-item, .dedicated-box-body-item-title {
        font-size: 10px;
        line-height: 15px;
    }
    .dedicated-box-body-first {
        margin-bottom: 16px;
    }
    .dedicated-price {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .dedicated-price span {
        font-size: 12px;
    }
    .dedicated-apply, .dedicated-cta {
        display: inline-block;
        padding: 15px 20px;
        font-size: 14px;
    }
    .dedicated-description {
        margin-bottom: 10px;
    }
    .dedicated-facility {
        padding-bottom: 10px;
    }
    #healthcare {
        margin-top: 40px;
    }
    .about-subtitle {
        font-size: 12px;
    }
    .about-body {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
    #medical-staff {
        margin-top: 8px;
    }
    #medical-staff a {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .medical-staff-image::after {
        width: 24px;
        right: 5%;
    }
    #medical-service {
        margin-top: 40px;
        padding: 0px 0px 24px;
    }
    .medical-service-box-outline {
        margin-top: 20px;
    }
    .medical-service-box {
        padding: 32px 20px;
        margin-bottom: 20px;
        min-height: 312px;
    }
    .medical-service-box img {
        width: 100px;
        margin-bottom: 26px;
    }
    .medical-service-box div {
        margin-bottom: 16px;
        font-size: 20px;
    }
    #about {
        margin-top: 40px;
        background: url('../assets/img/wave-bg-mobile.svg') no-repeat;
        background-size: 100%;
        background-position: center 462px;
    }
    .about-box {
        padding: 44px 14px;
        padding-bottom: 0;
        border-radius: 15px;
        font-size: 14px;
    }
    .about-box-title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .about-image::after {
        width: 104px;
    }
    .about-box .row {
        margin-bottom: 60px;
    }
    .about-image-2::after {
        width: 107px;
        right: auto;
        left: 0;
        top: 75%;
    }
    #benefit {
        margin-top: 40px;
    }
    #benefit-recruitment {
        margin-top: 20px;
    }
    #benefit-features {
        margin-top: 40px;
        background: url('../assets/img/wave-bg-mobile.svg') no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .benefit-box {
        padding: 30px 24px;
        min-height: 312px;
        margin-bottom: 20px;
    }
    .benefit-box div {
        font-size: 18px;
    }
    #blog {
        margin-top: 40px;
        background: url('../assets/img/wave-bg-mobile.svg') no-repeat;
        background-size: 100%;
        background-position: center;
    }
    .blog-featured {
        padding: 0;
        padding-bottom: 40px;
    }
    .blog-box {
        padding: 24px 18px;
    }
    .blog-featured-tags {
        margin-bottom: 17px;
    }
    .blog-featured-title {
        font-size: 24px;
        margin-bottom: 17px;
    }
    .blog-featured-body {
        font-size: 14px;
    }
    .blog-featured-profile {
        margin-bottom: 17px;
    }
    .blog-featured-profile h4, .blog-box-profile h4 {
        font-size: 14px;
    }
    .blog-featured-profile span, .blog-box-profile span {
        font-size: 12px;
    }
    .blog-featured-profile-image, .blog-box-profile-image {
        width: 30px;
        height: 30px;
    }
    .blog-featured-profile-image img, .blog-box-profile-image img {
        width: 30px;
    }
    .blog-featured-profile-social a {
        width: 14px;
        margin-right: 4px;
    }
    .blog-box-title {
        font-size: 18px;
    }
    #blog-details {
        margin-top: 40px;
    }
    #blog-details .blog-featured-profile {
        justify-content: center;
    }
    #blog-content {
        background: url('../assets/img/wave-bg-mobile.svg') no-repeat;
        background-size: 100%;
        background-position: bottom center;
    }
    .blog-thumbnail {
        margin-top: 40px;
        margin-bottom: 56px;
    }
    .about-body-details {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .blog-details-social a {
        width: 16px;
        margin-right: 4px;
    }
    .border-blog-details {
        margin-bottom: 32px;
    }
    .blog-featured-tags span {
        display: block;
        margin-bottom: 8px;
    }
    .blog-profile-desc {
        margin-bottom: 30px;
    }
    .blog-navigation {
        margin-bottom: 20px;
    }
    .blog-navigation span {
        font-size: 12px;
    }
    .blog-navigation-content {
        font-size: 14px;
    }
}
@media (max-width: 575.98px) {
    
}
@media (max-width: 360px) {
	
}