body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F4F1 100%);
    color:#262626 !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400 !important;
}

a {
    text-decoration: none !important;
    color: inherit;
    outline: none;
}
a:hover {
    text-decoration: none !important;
    color: inherit;
}
button, input {
    outline: none !important;
    border: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

#hero {
    background: url('../assets/img/hero-bg.svg') no-repeat;
    background-size: cover;
    min-height: 752px;
    max-width: 1378px;
    border-radius: 30px;
    margin: 27px auto 0;
    background-color: #FEFEFF !important;
}
#explore {
    margin-top: 94px;
}
#work {
    margin-top: 129px;
}
#what {
    margin-top: 91px;
}
#cta {
    margin-top: 53px;
}
#footer {
    margin-top: 157px;
}

/* Navbar */
.nav-menu {
    margin: 31px 0px;
    z-index: 5;
    position: relative;
}
.nav-menu div {
    display: inline-block;
}
.nav-menu-logo {
    width: 210px;
}
.nav-menu-content > ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.nav-menu-content > ul > li {
    display: inline-block;
    margin: 0 15px;
}
.nav-menu-content > ul > li:hover > a {
    color: #FF9C00;
}
.nav-menu-content > ul > li.nav-menu-content-dropdown {
    position: relative;
    z-index: 1;
}
.nav-menu-content > ul > li.nav-menu-content-dropdown img {
    display: inline-block;
    width: 24px;
    margin-left: 4px;
    transition: all .5s;
}
.nav-menu-content > ul > li.nav-menu-content-dropdown:hover img {
    transform: rotate(-180deg);
}
.nav-menu-content > ul > li > ul {
    position: absolute;
    top: 100%;
    left: -10%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    padding: 16px;
    z-index: 200;
    min-width: 200px;
    background: #FFFFFF;
    box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
    border-radius: 8px;
}
.nav-menu-content > ul > li.nav-menu-content-dropdown:hover ul {
    opacity: 1;
    visibility: visible;
    left: 0;
}
.nav-menu-content ul > li > ul > li {
    display: block;
    padding: 8px 0px;
}
.nav-menu-content ul > li > ul > li a:hover {
    color: #FF9C00;   
}

/* Button */
.btn-1 {
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
.btn-2 {
    padding: 20px 48px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.btn-3 {
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #FF9C00;
    display: block;
    text-align: center;
}
.btn-4 {
    padding: 20px 26px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.105em;
}
.btn-1, .btn-2, .btn-4 {
    background: #FF9C00;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
}
.btn-1:hover, .btn-2:hover, .btn-4:hover, .list-apply:hover {
    color: #FFFFFF;
    background: #e08b03;
}
.btn-3:hover {
    color: #FFFFFF;
    background: #FF9C00;
}

/* Hero */
h1.hero-title {
    margin-top: 96px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 105%;
}
.hero-desc {
    margin-top: 30px;
    padding-right: 150px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(38, 38, 38, 0.8);
}
.hero-cta {
    margin-top: 30px;
}

/* Section title */
.section-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 105%;
    font-family: 'Montserrat', sans-serif;
}
.section-title span {
    color: #FF9C00;
    font-family: 'Poppins', sans-serif;
}

/* Explore tabs */
.explore-tabs.nav-tabs {
    margin-top: 40px;
    border-bottom: none;
}
.explore-tabs .nav-link {
    color: rgba(38, 38, 38, 0.8);
    padding: 0;
    margin: 0 15px 15px;
    transition: none;
    outline: none !important;
}
.explore-tabs.nav-tabs .nav-link:focus, 
.explore-tabs.nav-tabs .nav-link:hover {
    border-color: transparent  !important;
}
.explore-tabs.nav-tabs .nav-item.show .nav-link, 
.explore-tabs.nav-tabs .nav-link.active {
    color: rgba(38, 38, 38, 0.8);
    background-color: none !important;
    border: none !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.explore-tabs.nav-tabs .nav-item.show .nav-link, 
.explore-tabs.nav-tabs .nav-link.active {
    color: #262626;
    font-weight: 500;
    position: relative;
}
.explore-tabs.nav-tabs .nav-item.show .nav-link::after, 
.explore-tabs.nav-tabs .nav-link.active::after {
    content: "";
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FF9C00;
}
.explore-tabs-content {
    padding-top: 129px;
}

/* Card jobs */
.card-jobs-outer {
    margin-bottom: 60px;
}
.card-jobs {
    padding: 16px 8px 20px 10px;
    background: #FFFFFF;
    box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
    border-radius: 20px;
    cursor: pointer;
}
.card-jobs-bookmark {
    display: inline-block;
    padding: 7px 8px 2px;
    border-radius: 5px;
    border: 0.75px solid #EDEEEF;
    position: relative;
}
.card-jobs-bookmark::after{
    content: url('../assets/img/icons/bookmark.svg');
    width: 18px;
    display: inline-block;
}
.card-jobs-arrow-top::after {
    content: url('../assets/img/icons/arrow-top-double.svg');
    display: inline-block;
    width: 76px;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}
.card-jobs-body {
    transition: all .5s;
    margin-top: -5px;
}
.card-jobs-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.card-jobs-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}
.card-jobs-footer {
    margin-top: 24px;
}
.card-jobs-footer-icon {
    position: relative;
    width: 18px;
}
.card-jobs-footer-icon::after {
    position: absolute;
    top: -13px;
    left: 0;
    width: 100%;
    display: inline-block;
}
.card-jobs-footer-calendar::after {
    content: url('../assets/img/icons/calendar.svg');
}
.card-jobs-footer-pay::after {
    content: url('../assets/img/icons/pay.svg');
}
.card-jobs-footer-location::after {
    content: url('../assets/img/icons/location.svg');
}
.card-jobs-footer-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
.card-jobs-footer-desc {
    margin-top: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #828792;
}
.card-jobs-footer-desc small {
    font-size: 8px;
    line-height: 150%;
}
.card-jobs-footer-icon {
    display: inline-block;
    width: 18px;
    margin-right: 4px;
}
.card-jobs-location {
    margin-top: 19px;
}
.card-jobs-cta {
    margin-top: 29px;
}
.card-jobs:hover {
    background: #02B5A5;
    color: #FFFFFF;
}
.card-jobs:hover .card-jobs-body {
    margin-top: 19px;
}
.card-jobs:hover .card-jobs-bookmark {
    background: rgba(255, 255, 255, 0.25);
    border: 0.75px solid rgba(255, 255, 255, 0.5);
}
.card-jobs:hover .card-jobs-bookmark::after {
    content: url('../assets/img/icons/bookmark-white.svg');
}
.card-jobs:hover .card-jobs-arrow-top::after {
    visibility: visible;
    opacity: 1;
}
.card-jobs:hover .card-jobs-footer-desc {
    color: rgba(255, 255, 255, 0.8);
}
.card-jobs:hover .card-jobs-footer-calendar::after {
    content: url('../assets/img/icons/calendar-white.svg');
}
.card-jobs:hover .card-jobs-footer-pay::after {
    content: url('../assets/img/icons/pay-white.svg');
}
.card-jobs:hover .card-jobs-footer-location::after {
    content: url('../assets/img/icons/location-white.svg');
}
.card-jobs:hover .btn-3 {
    background: #FF9C00;
    color: #FFFFFF;
}

/* Work */
.work-desc {
    font-size: 20px;
    line-height: 150%;
    color: rgba(38, 38, 38, 0.8);
}
.work-featured {
    margin-top: -120px;
    z-index: 1;
    position: relative;
}
.work-list {
    padding-bottom: 30px;
    margin-top: 24px;
    position: relative;
}
.work-list::after {
    content: url("data:image/svg+xml,%3Csvg width='100%' viewBox='0 0 377 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.48145H375.605' stroke='%23262626' stroke-opacity='0.8' stroke-linecap='square' stroke-dasharray='5 5'/%3E%3C/svg%3E%0A");
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 0;
}
.work-list:first-child {
    margin-top: 96px;
}
.work-list:last-child::after {
    content: none;
}
.work-list-icon {
    display: inline-block;
    position: relative;
    width: 85px;
    height: 85px;
    border-radius: 200px;
    background: #FFFFFF;
    box-shadow: 6px 15px 40px rgba(19, 25, 46, 0.05);
}
.work-list-icon > span {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.work-list-title {
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 14px;
}
.work-list-body {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400px;
    color: rgba(38, 38, 38, 0.8);
}
.work-image-outer {
    position: relative;
}
.work-image-card {
    position: relative;
    margin-top: 32px;
    z-index: 2;
}
.work-image-info {
    display: block;
    background: #02B5A5;
    box-shadow: 6px 15px 40px rgba(19, 25, 46, 0.05);
    border-radius: 10px;
    padding: 16px 40px;
    color: #FFFFFF;
    float: left;
}
.work-image-info:first-child {
    border-right: 1px dashed rgba(255, 255, 255, 0.8);
}
.work-image-info-title {
    font-family: 'Montserrat';
    font-size: 45px;
    line-height: 55px;
}
.work-image-info-body {
    font-size: 14px;
    line-height: 150%;
}

/* Testimony */
.testimony-section {
    margin-top: 60px;
}
.testimony {
    background: #FFFFFF;
    box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
    border-radius: 15px;
    font-size: 16px;
    line-height: 150%;
    padding: 30px 19px 24px;
    transition: all .3s;
}
.testimony:hover {
    transform: scale(1.05);
}
.testimony-star {
    padding-bottom: 20px;
}

.testimony-star span {
    display: inline-block;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    position: relative;
    transition: all .5s ease-in-out;
}
.testimony-star span:before {
    content: url('../assets/img/icons/star.svg');
    width: 24px;
    position: absolute;
    top: 0;
    left: 0;
}
.testimony-star span.star-grey:before {
    content: url('../assets/img/icons/star-grey.svg');
}
.testimony-star span:hover {
    transform: rotate(180deg);
}
.testimony-star span.star-grey:hover {
    opacity: 0;
}
.testimony-body {
    margin-bottom: 55px;
}
.testimony-footer {
    display: flex;
    align-items: center;
}
.testimony-image {
    display: inline-block;
    width: 50px;
    border-radius: 200px;
    overflow: hidden;
}
.testimony-footer-body {
    padding-left: 15px;
}
.testimony-name {
    color: #262626;
    font-weight: 500;
}
.testimony-company {
    font-size: 14px;
    color: #02B5A5;
}
.owl-arrow {
    margin-top: 40px;
}
.owl-arrow a {
    display: inline-block;
    transition: all .5s;
}
.owl-arrow a:hover {
    transform: scale(1.2);
}
.owl-arrow a img {
    width: 24px;
    margin: 0 20px;
}

/* Cta */
.cta-box {
    background: #02B5A5;
    border-radius: 20px;
    padding: 15px 65px;
    color: #FFFFFF;
}
.cta-box .section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 105%;
    margin-top: 47px;
}
.cta-box-subtitle {
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    margin-bottom: 74px;
}
.cta-line {
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    display: inline-block;
}
.cta-button-outer {
    border: 1px dashed rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: inline-block;
    padding: 13px;
    transition: all .3s;
}
.cta-button-outer:hover {
    transform: scale(1.2);
}
.cta-button {
    background: #FF9C00;
    border-radius: 10px;
    padding: 16px;
    display: inline-block;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.24);
}
.cta-button:hover {
    background: #ee9301;
}

/* Footer */
.footer-subtitle {
    margin-top: 10px;
    font-size: 18px;
    line-height: 150%;
    color: rgba(38,38, 38, 0.8);
}
.footer-social {
    display: inline-block;
    width: 21px;
    margin-right: 24px;
}
.footer-menu {
    list-style: none;
}
.footer-menu li {
    display: inline-block;
    margin: 0 24px 16px;
}
.footer-menu a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #000000;
}
.footer-form a {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #262626;
}
.footer-form div {
    margin-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
}
.footer-form input {
    padding: 14px 22px;
    background: #FFFFFF;
    border: 1px solid #262626;
    border-radius: 8px 0px 0px 8px;
    display: inline-block;
    width: 100%;
}
.footer-form-icon {
    background: #262626;
    border-radius: 0px 8px 8px 0px;
    padding: 12px 14px;
}
.footer-form-icon img {
    width: 24px;
}
.footer-copy {
    border-top: 1.5px solid rgba(38, 38, 38, 0.8);
    margin-top: 96px;
    padding: 32px 0;
    color: rgba(38, 38, 38, 0.8);
}

/* ------- Jobs ------- */

#jobs {
    margin-bottom: 60px;
}
#desc {
    margin-top: 110px;
    margin-bottom: 110px;
    padding-top: 80px;
    padding-bottom: 16px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 0px #EEEEEE;
}
.jobs-header {
    padding:  40px 24px 96px;
    background: #02B5A5;
    color: #FFFFFF;
    border-radius: 25px;
    text-align: center;
}
.jobs-header .section-title {
    margin-bottom: 15px;
}
.jobs-header p {
    line-height: 150%;
}
.jobs-form {
    margin-top: 20px;
}
.jobs-form > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jobs-form input {
    border: none;
    background: #FFFFFF;
    border-radius: 8px 0px 0px 8px;
    padding: 12px 22px;
    width: 675px;
}
.jobs-form a {
    background: #FF9C00;
    border-radius: 0px 8px 8px 0px;
    padding: 12px 16px;
}
.jobs-form a:hover {
    background: #e08b03;
}
.jobs-form a img {
    width: 18px;
}

/* List */
.list-box {
    background: #FFFFFF;
    filter: drop-shadow(6px 15px 40px rgba(19, 25, 46, 0.05));
    margin-bottom: 20px;
}
.list-box .accordion-header {
    color: #262626;
}
.list-box .accordion-button {
    border: none;
    box-shadow: none;
    color: inherit;
    background: #FFFFFF;
    line-height: 23px;
    font-weight: 500;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}
.list-box .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='100%' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0129 12.75H7.98633C7.57233 12.75 7.23633 12.414 7.23633 12C7.23633 11.586 7.57233 11.25 7.98633 11.25H16.0129C16.4269 11.25 16.7629 11.586 16.7629 12C16.7629 12.414 16.4269 12.75 16.0129 12.75Z' fill='%23D7D8DD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 16.7357C11.586 16.7357 11.25 16.3997 11.25 15.9857L11.25 8.01362C11.25 7.59962 11.586 7.26362 12 7.26362C12.414 7.26362 12.75 7.59962 12.75 8.01362V15.9857C12.75 16.3997 12.414 16.7357 12 16.7357Z' fill='%23D7D8DD'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    background-size: 24px;
}
.list-box .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg width='100%' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.0129 12.75H7.98633C7.57233 12.75 7.23633 12.414 7.23633 12C7.23633 11.586 7.57233 11.25 7.98633 11.25H16.0129C16.4269 11.25 16.7629 11.586 16.7629 12C16.7629 12.414 16.4269 12.75 16.0129 12.75Z' fill='%23D7D8DD'/%3E%3C/svg%3E%0A");
}
.list-box .accordion-button .list-box-icon {
    margin-right: 8px;
}
.list-box .accordion-button .list-box-icon img {
    width: 18px;
}
.list-box .accordion-body {
    padding: 0;
}
.list-box .list-body {
    box-shadow: inset 0px 1px 0px #EEEEEE;
    color: #424242;
    line-height: 23px;
    padding: 10px;
    line-height: 23px;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;
    display: flex;
    align-items: center;
    width: 100%;
}
.list-box .list-body .list-form {
    position: relative;
    width: 100%;
}
.list-box .list-body .list-form input {
    width: 100%;
    padding: 9px 9px 9px 34px;
    background: #FFFFFF;
    border: 1px solid #D7D8DD;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
}
.list-box .list-body .list-form img {
    width: 18px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.list-box .list-body input[type=checkbox] {
    -moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	outline: none;
	content: none;
}
.list-box .list-body input[type=checkbox]:before {
    content: "✓";
    width: 14px;
    height: 14px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 9px;
    line-height: 10px;
    padding-top: 1.5px;
    font-weight: bold;
    text-align: center;
    top: 0;
    display: block;
    color: transparent;
}
.list-box .list-body input[type=checkbox]:checked:before {
    color: #FFFFFF;
    background: #FF9C00;
    border-color: #ca7d01;
}
.list-box .list-body .list-body-load {
    width: 100%;
    border: 1px solid rgba(215, 216, 221, 0.2);
    border-radius: #F9F9F9;
    padding: 9px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #828792;
    background: #F9F9F9;
    text-align: center;
}
.list-select {
    border: 1.5px solid #D7D8DD;
    color: #828792;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.25 6.375L9 11.625L3.75 6.375' stroke='%23828792' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 18px 18px;
    padding: 9px 18px;
    border-radius: 6px;
}
.list-card {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 6px 15px 40px rgba(19, 25, 46, 0.05);
    border-radius: 6px;
    padding: 15px;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 24px;
    color: rgba(38, 38, 38, 0.8);
}
.list-card-content {
    margin-top: 60px;
}
.list-card-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.list-card-title div {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    display: inline-block;
    margin-right: 10px;
}
.list-card-title span {
    display: inline-block;
    padding: 3px 10px;
    background: #F7F4F4;
    border-radius: 4px;
    font-size: 12px;
    line-height: 150%;
}
.list-location {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.list-location img {
    width: 18px;
    margin-right: 4px;
}
.list-location div {
    display: inline-block;
}
.list-time > div > div {
    border-right: 1px solid #D7D8DD;
}
.list-time > div > div:last-child {
    border-right: none;
}
.list-time > div > div > img {
    display: inline-block;
    width: 14px;
    margin-right: 4px;
}
.list-time > div > div > div {
    display: inline-block;
}
.list-card-price {
    margin-top: -30px;
}
.list-price div {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #FF9C00;
}
.list-price span {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 9px;
    line-height: 150%;
    color: rgba(38, 38, 38, 0.8);
}
.list-apply {
    background: #FAAE4B;
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 12px;
    display: inline-block;
}
.list-pagination {
    margin-top: 60px;
}
.list-pagination ul {
    list-style: none;
    padding: 0;
}
.list-pagination ul li {
    display: inline-block;
}
.list-pagination ul li a {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.list-pagination ul li a span,
.list-pagination ul li a img {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.list-pagination ul li a:active {
    background: #FEFEFE;
}
.list-pagination ul li a.active {
    border: none;
    background: #FF9C00;
    color: #FFFFFF;
}
.list-pagination ul li a.active:hover {
    background: #e08b03;
}

/* Desc */
.desc-content {
    margin-bottom: 30px;
}
.desc-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 10px;
}
.desc-body {
    font-size: 18px;
    line-height: 150%;
    color: rgba(38, 38, 38, 0.8);
    margin-bottom: 30px;
}

/* ------- Jobs Dedicated ------- */

#dedicated {
    margin-top: 26px;
    margin-bottom: 36px;
}
.back-to-previous {
    font-weight: 500;
    line-height: 23px;
}
.back-to-previous img {
    width: 24px;
    margin-right: 5px;
    display: inline-block;
}
.dedicated-box {
    margin-top: 48px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    padding: 51px 44px;
}
.dedicated-box-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1.5px solid #D7D8DD;
    margin-bottom: 14px;
}
.dedicated-box-title > span {
    background:  #F7F4F4;
    display: inline-block;
    font-size: 14px;
    line-height: 150%;
    line-height: 21px;
    padding: 3px 11px;
    border-radius: 4px;
    margin-left: 14px;
}
.dedicated-box-location {
    display: flex;
    align-items: center;
    line-height: 150%;
    margin-bottom: 24px;
    color: rgba(38, 38, 38, 0.8);
}
.dedicated-box-location img {
    width: 32px;
    margin-right: 4px;
}
.dedicated-box-body {
    padding: 28px 30px 58px 35px;
    background: #F9F9F9;
    border: 1px solid rgba(215, 216, 221, 0.2);
    border-radius: 8px;
    margin-bottom: 24px;
}
.dedicated-box-body-first {
    margin-bottom: 55px;
}
.dedicated-box-body-item-title {
    color: #828792;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
.dedicated-box-body-item-content {
    line-height: 23px;
}
.dedicated-price {
    display: inline-block;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #FF9C00;
    margin-bottom: 44px;
}
.dedicated-price div {
    display: inline-block;
    margin-right: 2px;
}
.dedicated-price span {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #828792;
}
.dedicated-apply {
    background: #FF9C00;
    border-radius: 6px;
    color: #FFFFFF;
    padding: 20px 30px;
    font-weight: 500;
}
.dedicated-apply:hover {
    background: #ce7f00;
    color: #FFFFFF;
}
.dedicated-description {
    padding-bottom: 24px;
    border-bottom: 1.5px solid #D7D8DD;
    margin-bottom: 39px;
}
.dedicated-description-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    padding-bottom: 10px;
}
.dedicated-description p {
    line-height: 23px;
    margin-bottom: 0;
}
.dedicated-facility {
    line-height: 23px;
    padding-bottom: 39px;
    border-bottom: 1.5px solid #D7D8DD;
    margin-bottom: 24px;
}
.dedicated-facility div {
    margin-bottom: 4px;
}
.dedicated-facility a {
    color: #675DFF;
}
.dedicated-cta {
    background: #FF9C00;
    border-radius: 6px;
    padding: 20px 30px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.dedicated-cta:hover {
    background: #ce7f00;
    color: #FFFFFF;
}

/* ------- About Us ------- */
#about {
    margin-top: 123px;
    background: url('../assets/img/wave-bg-about.svg') no-repeat;
    background-size: 100%;
    background-position: center 328px;
    
}
.about-subtitle {
    line-height: 150%;
    margin-bottom: 15px;
}
.about-icon {
    margin-top: 15px;
    width: 24px;
    display: inline-block;
}
.about-body {
    margin-top: 38px;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 150%;
    color: rgba(38, 38, 38, 0.8);
    padding: 0 85px;
}
.about-body-details {
    margin-top: 54px;
    margin-bottom: 48px;
}
.about-arrow {
    text-align: center;
    margin-bottom: 33px;
}
.about-arrow img {
    width: 12px;
}
.about-box {
    margin-top: 47px;
    background: #02B5A5;
    border-radius: 25px;
    padding: 85px;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
}
.about-box::after {
    content: url('/assets/img/wave-bottom.svg');
    position: absolute;
    bottom: 0;
    right: 0;
    width: 534px;
}
.about-box .row {
    margin-bottom: 112px;
}
.about-box-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    line-height: 105%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.about-image {
    position: relative;
    z-index: 1;
}
.about-image::after {
    position: absolute;
    content: url('../assets/img/dots.svg');
    top: 70%;
    right: -9%;
    width: 174px;
    z-index: -1;
}
.about-image-2::after {
    top: 95%;
    right: 73%;
}
.about-image-3::after {
    content: "";
}

/* ------- Healthcare ------- */
#healthcare {
    margin-top: 123px;
}
#medical-staff {
    margin-top: 123px;
}

#medical-staff a {
    font-weight: 600;
    display: inline-block;
    color: #FF9C00;
    padding: 12px 25px;
}
#medical-staff a img {
    width: 24px;
    margin-left: 4px;
}
.medical-staff-image {
    position: relative;    
}
.medical-staff-image::after {
    position: absolute;
    content: url("../assets/img/dots-orange.svg");
    width: 46px;
    display: inline-block;
    bottom: 50%;
    right: 6%;
    z-index: -1;
}

#medical-service {
    margin-top: 29px;
    padding: 89px 0px 103px;
    background: url('../assets/img/wave-bg.svg') no-repeat;
    background-size: 100%;
    background-position: center;
}
.medical-service-box-outline {
    margin-top: 62px;
}
.medical-service-box {
    padding: 41px 25px 9px;
    background: #FFFFFF;
    box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
    border-radius: 25px;
    text-align: center;
    min-height: 421px;
}
.medical-service-box img {
    width: 123px;
    display: inline-block;
    margin-bottom: 32px;
}
.medical-service-box div {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 20px;
}
.medical-service-box p {
    color: rgba(38, 38, 38, 0.8);
}

/* ------- Benefit ------- */
#benefit {
    margin-top: 123px;
}
#benefit-recruitment {
    margin-top: 97px;
}
#benefit-features {
    margin-top: 80px;
}
#benefit-features {
    margin-top: 80px;
    background: url('../assets/img/wave-bg.svg') no-repeat;
    background-size: 100%;
    background-position: center;
}
#benefit-career {
    margin-top: 52px;
}
.benefit-dots {
    width: 46px;
    margin-top: 50px;
}
.benefit-box-outline {
    margin-top: 60px;
}
.benefit-box {
    padding: 41px 25px 9px;
    background: #FFFFFF;
    box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
    border-radius: 25px;
    text-align: center;
    min-height: 421px;
    margin-bottom: 60px;
}
.benefit-box img {
    width: 83px;
    display: inline-block;
    margin-bottom: 30px;
}
.benefit-box div {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 14px;
}
.benefit-box p {
    color: rgba(38, 38, 38, 0.8);
}

/* ------- Blog ------- */
#blog {
    margin-top: 123px;
    background: url('../assets/img/wave-bg.svg') no-repeat;
    background-size: 100%;
    background-position: bottom center;
}
.blog-featured {
    padding: 41px 86px 64px 34px;
}
.blog-featured-tags {
    margin-bottom: 30px;
}
.blog-featured-tags span {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #828792;
    margin-right: 13px;
}
.blog-featured-tags div,
.blog-box-tags div {
    display: inline-block;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    padding: 5px 9px;
    color: #FAAE4B;
    border: 1px solid #FAAE4B;
    border-radius: 4px;
    margin-right: 10px;
}
.blog-featured-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 105%;
    color: #15141A;
    margin-bottom: 30px;
}
.blog-featured-body {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(38, 38, 38, 0.8);
    margin-bottom: 30px;
}
.blog-featured-profile,
.blog-box-profile {
    display: flex;
    align-items: center;
    margin-bottom: 62px;
}
.blog-featured-profile-image,
.blog-box-profile-image {
    position: relative;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.blog-featured-profile-image img,
.blog-box-profile-image img {
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blog-featured-profile h4,
.blog-box-profile h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #040101;
    margin-bottom: 0;
}
.blog-featured-profile span,
.blog-box-profile span {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #C4C4C4;
}
.blog-featured-cta a {
    display: inline-block;
    color: #FF9C00;
    font-weight: 600;
}
.blog-featured-cta a img {
    width: 24px;
    margin-left: 4px;
}
.blog-box {
    padding: 33px 36px;
    background: #FFFFFF;
    display: block;
    box-shadow: 0px 64px 50px -32px rgba(6, 7, 37, 0.04);
    border-radius: 25px;
    margin-bottom: 24px;
}
.blog-box-tags {
    margin-bottom: 15px;
}
.blog-box-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #15141A;
    margin-bottom: 18px;
}

/* ------- Blog Details------- */
#blog-details {
    margin-top: 123px;
}
#blog-nav {
    margin-top: 16px;
}
#blog-content {
    background: url('../assets/img/wave-bg.svg') no-repeat;
    background-size: 100%;
    background-position: top center;
}
.blog-featured-slash {
    margin: 0 8px;
}
.blog-featured-profile-social {
    display: block;
}
.blog-featured-profile-social a {
    display: inline-block;
    width: 21px;
    margin-right: 12px;
}
.blog-thumbnail {
    margin-top: 48px;
    margin-bottom: 68px;
}
.border-blog-details {
    height: 1px !important;
    opacity: 1;
    background-color: rgba(38, 38, 38, 0.8);
    margin-top: 0;
    margin-bottom: 48px;
}
.blog-details-social {
    display: inline-block;
    margin-bottom: 25px;
}
.blog-details-social a {
    display: inline-block;
    margin-right: 12px;
    width: 21px;
}
.blog-profile {
    display: flex;
    align-items: center;
}
.blog-profile-image {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 14px;
}
.blog-profile-image img {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 45px;
    transform: translate(-50%, -50%);
    width: 100%;
}
.blog-profile-desc {
    margin-left: 59px;
    margin-bottom: 53px;
}
.blog-navigation span {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #828792;
}
.blog-navigation-content {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #15141A;
}
.blog-navigation-arrow {
    display: inline-block;
    width: 24px;
}